<nav class="navbar p-0 px-20">
  <div class="d-flex align-items-center justify-content-between w-100 h-100">
    <a class="navbar-brand d-none d-md-inline" [routerLink]="ROUTES.admin.root | routeToAbsolute"><img class="height-45" src="assets/images/logo.png" alt="Logo"></a>
    <a class="d-inline d-md-none menu" (click)="sidebar.toggle()"><img src="assets/images/icons/menu.svg" alt="Menu"></a>
    <div class="d-flex align-items-center h-100">
      <app-search-input class="mx-10"></app-search-input>
      <div class="h-100 notification">
        <app-notification-menu></app-notification-menu>
      </div>
      <app-profile-dropdown></app-profile-dropdown>
    </div>
  </div>
</nav>