<section class="p-15 p-md-30">
  <div class="row mb-30">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h3 class="text-primary font-30 font-weight-bold mr-10">{{ campaign.user.businessName }}</h3>
        <form [formGroup]="campaignDetailForm">
          <app-select class="mr-10" [options]="campaignDetailOptions" formControlName="campaignDetailType"></app-select>
        </form>
      </div>
    </div>
  </div>
  <div class="row  mb-30">
    <div class="col-12 col-lg-3">
      <h3 class="text-primary font-25 font-weight-bold mr-10">Campaign Report</h3>
    </div>
    <div class="col-12 col-lg-9">
      <div class="d-flex justify-content-end mt-10 mt-lg-0">
        <button class="btn font-15 btn-primary-active btn-large px-30 mr-10">
          <span class="font-weight-bold font-14">Balance: {{ campaign.paymentsTotal | currency }}</span>
        </button>
        <button class="btn font-13 btn-primary-active btn-large px-30 font-weight-medium">Pending Campaign</button>
      </div>
    </div>
  </div>
  <div class="row mb-30">
    <div class="col-12 col-lg-6">
      <div class="row">
        <ng-container *ngFor="let card of campaignDetailCards; let i = index;">
          <div class="status-card col-6 col-lg-3" *ngIf="i < campaignDetailCards.length / 2">
            <app-campaign-detail-card [info]="card"></app-campaign-detail-card>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row">
        <ng-container *ngFor="let card of campaignDetailCards; let i = index;">
          <div class="status-card col-6 col-lg-3" *ngIf="i >= campaignDetailCards.length / 2">
            <app-campaign-detail-card [info]="card"></app-campaign-detail-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row mb-50">
    <div class="col-12">
      <div class="d-flex flex-column rounded shadow bg-white p-20">
        <h3 class="font-20 font-weight-bold color-mine-shaft mb-70">Notes</h3>
        <textarea placeholder="Type your note here.." class="p-10 rounded font-18 color-dusty-gray border-color-silver"></textarea>
        <div class="d-flex mt-20">
          <button class="btn btn-primary-active btn-large">Add Note</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-50">
    <div class="col-12 col-lg-6">
      <app-task-table canAdd="true" headingClass="font-weight-bold font-25 color-mine-shaft"></app-task-table>
    </div>
    <div class="col-12 col-lg-6">
      <app-appointment-table canAdd="true" headingClass="font-weight-bold font-25 color-mine-shaft"></app-appointment-table>
    </div>
  </div>
  <div class="row align-items-center mb-30">
    <div class="col-12">
      <h3 class="font-25 color-mine-shaft font-weight-bold">Email & Chat</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="d-flex flex-column">
        <div class="bg-primary font-17 text-white font-weight-medium py-8 px-20 mb-10 border-radius-5">{{ CommunicationStep.Open }}</div>
        <div *ngFor="let item of emailChatData[CommunicationStep.Open]">
          <app-email-chat-card [info]="item"></app-email-chat-card>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="d-flex flex-column">
        <div class="bg-primary font-17 text-white font-weight-medium py-8 px-20 mb-10 border-radius-5">{{ CommunicationStep.InReview }}</div>
        <div *ngFor="let item of emailChatData[CommunicationStep.InReview]">
          <app-email-chat-card [info]="item"></app-email-chat-card>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="d-flex flex-column">
        <div class="bg-primary font-17 text-white font-weight-medium py-8 px-20 mb-10 border-radius-5">{{ CommunicationStep.Closed }}</div>
        <div *ngFor="let item of emailChatData[CommunicationStep.Closed]">
          <app-email-chat-card [info]="item"></app-email-chat-card>
        </div>
      </div>
    </div>
  </div>
</section>