<app-table [rows]="emails"
           [columns]="columns"
           [pageSize]="take"
           [length]="total"
           [loading]="isLoading"
           (page)="onPage($event)"
           emptyDescription="No invoices to display.">

  <ng-template #createdAtColumn let-email="row">
    <div class="d-flex flex-column">
      <span class="font-14 text-overflow font-weight-bold">{{ email.createdAt }}</span>
    </div>
  </ng-template>

  <ng-template #nameColumn let-email="row">
    <div class="d-flex flex-column">
      <span class="font-14 text-overflow font-weight-bold">{{ email.sender.name }}</span>
    </div>
  </ng-template>

  <ng-template #phoneNumberColumn let-email="row">
    <div class="d-flex flex-column">
      <span class="font-14 text-overflow font-weight-bold">{{ email.sender.phone }}</span>
    </div>
  </ng-template>

  <ng-template #actionColumn let-email="row">
    <div class="d-flex justify-content-center align-items-center pr-0">
      <ng-container *ngIf="email.hover === true; else noHover;">
        <button class="btn btn-large btn-success btn-thin mr-10">View</button>
        <button class="btn btn-large btn-success btn-thin mr-10">Edit</button>
        <button class="btn btn-large btn-success btn-thin mr-10">Delete</button>
      </ng-container>
      <ng-template #noHover>
        <button class="btn btn-large btn-primary btn-thin mr-10">View</button>
        <button class="btn btn-large btn-primary btn-thin mr-10">Edit</button>
        <button class="btn btn-large btn-primary btn-thin mr-10">Delete</button>
      </ng-template>
    </div>
  </ng-template>

</app-table>
