<app-table [rows]="payments"
           [columns]="columns"
           [pageSize]="take"
           [length]="total"
           [loading]="isLoading"
           (page)="onPage($event)"
           emptyDescription="No invoices to display.">

  <ng-template #indexColumn let-payment="row">
    <div class="d-flex flex-column">
      <span class="font-14 text-overflow font-weight-medium">{{ payment.index }}</span>
    </div>
  </ng-template>

  <ng-template #paymentNumberColumn let-payment="row">
    <div class="d-flex flex-column">
      <span class="font-14 text-overflow font-weight-medium">{{ payment.paymentNumber }}</span>
    </div>
  </ng-template>

  <ng-template #paymentMethodColumn let-payment="row">
    <div class="d-flex flex-column">
      <span class="font-14 text-overflow font-weight-medium">{{ payment.paymentMethod | optionLabel }}</span>
    </div>
  </ng-template>

  <ng-template #dateTimeColumn let-payment="row">
    <div class="d-flex flex-column">
      <span class="font-14 text-overflow font-weight-medium">{{ payment.dateAndTime }}</span>
    </div>
  </ng-template>

  <ng-template #amountColumn let-payment="row">
    <div class="d-flex flex-column">
      <span class="font-14 text-overflow font-weight-medium">{{ payment.amount }}</span>
    </div>
  </ng-template>

  <ng-template #statusColumn let-payment="row">
    <div class="d-flex flex-column">
      <ng-container [ngSwitch]="payment.status">
        <ng-container *ngSwitchCase="PaymentStatus.Completed">
          <button class="btn btn-medium btn-thin btn-success-active">{{ payment.status | optionLabel }}</button>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>

</app-table>
