<section class="p-15 p-md-30">
  <div class="row align-items-center mb-30">
    <div class="col-12 col-lg-5">
      <h3 class="text-primary font-30 font-weight-bold">Campaigns</h3>
    </div>
    <form class="col-12 col-md-7" [formGroup]="campaignForm">
      <div class="d-flex align-items-center justify-content-end">
        <app-select class="mr-10" [options]="campaignOptions" formControlName="campaignType"></app-select>
      </div>
    </form>
  </div>
  <div class="d-flex mb-30">
    <app-search-input placeholder="Search Campaign" [width]="300"></app-search-input>
  </div>
  <div class="row">
    <div class="col-12">
      <app-campaign-table></app-campaign-table>
    </div>
  </div>
</section>