<app-table [rows]="campaignSubscriptions"
           [columns]="columns"
           [pageSize]="take"
           [length]="total"
           [loading]="isLoading"
           (page)="onPage($event)"
           emptyDescription="No invoices to display.">

  <ng-template #statusColumn let-campaignSubscription="row">
    <div class="d-flex align-items-center">
      <ng-container [ngSwitch]="campaignSubscription.status">
        <ng-container *ngSwitchCase="SubscriptionStatus.Paused">
          <button class="btn btn-large btn-thin btn-warning-active">
            {{ campaignSubscription.status }}
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="SubscriptionStatus.Cancelled">
          <button class="btn btn-large btn-thin btn-danger-active">
            {{ campaignSubscription.status }}
          </button>
        </ng-container>
        <ng-container *ngSwitchCase="SubscriptionStatus.Active">
          <button class="btn btn-large btn-thin btn-success-active">
            {{ campaignSubscription.status }}
          </button>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>

  <ng-template #businessNameColumn let-campaignSubscription="row">
    <div class="d-flex flex-column">
      <span class="font-14 danger text-overflow font-weight-bold mb-1">{{ campaignSubscription.user.businessName }}</span>
      <p class="font-14 danger text-overflow m-0">{{ campaignSubscription.user.email }}</p>
    </div>
  </ng-template>

  <ng-template #paymentMethodColumn let-campaignSubscription="row">
    <div class="d-flex flex-column">
      <span class="font-14 danger text-overflow font-weight-bold mb-1">{{ campaignSubscription.paymentMethod | optionLabel }}</span>
    </div>
  </ng-template>

  <ng-template #nextRenewalColumn let-campaignSubscription="row">
    <div class="d-flex flex-column">
      <span class="font-14 danger text-overflow font-weight-bold mb-1">{{ campaignSubscription.nextRenewal }}</span>
    </div>
  </ng-template>

  <ng-template #renewalAmountColumn let-campaignSubscription="row">
    <div class="d-flex flex-column">
      <span class="font-14 danger text-overflow font-weight-bold mb-1">{{ campaignSubscription.renewalAmount | currency }}</span>
    </div>
  </ng-template>

  <ng-template #numberOfRenewalsColumn let-campaignSubscription="row">
    <div class="d-flex flex-column">
      <span class="font-14 danger text-overflow font-weight-bold mb-1">{{ campaignSubscription.numberOfRenewals }}</span>
    </div>
  </ng-template>

  <ng-template #editColumn let-campaignSubscription="row">
    <div class="d-flex justify-content-center align-items-center pr-0">
      <ng-container *ngIf="campaignSubscription.hover === true; else noHover;">
        <app-icon-button icon="edit" color="danger" buttonClass="btn-thin" label="Edit Subscription"></app-icon-button>
      </ng-container>
      <ng-template #noHover>
        <app-icon-button icon="edit" color="primary" buttonClass="btn-thin" label="Edit Subscription"></app-icon-button>
      </ng-template>
    </div>
  </ng-template>

</app-table>
