<section class="p-15 p-md-30">
  <div class="row align-items-center mb-30">
    <div class="col-12 col-lg-5">
      <h3 class="text-primary font-30 font-weight-bold">{{ header }}</h3>
    </div>
    <div class="col-12 col-lg-7">
      <div class="d-flex justify-content-end">
        <button class="btn btn-large btn-white mr-10" [routerLink]="ROUTES.admin.billing.invoices" routerLinkActive="active"
                (click)="switchHeader(ROUTES.admin.billing.invoices)">
          INVOICES
        </button>
        <button class="btn btn-large btn-white" [routerLink]="ROUTES.admin.billing.subscriptions" routerLinkActive="active"
                (click)="switchHeader(ROUTES.admin.billing.subscriptions)">
          SUBSCRIPTIONS
        </button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</section>