<app-heading-table [title]="title"
           [canAdd]="canAdd"
           [sections]="appointments"
           [columns]="columns"
           [loading]="isLoading"
           emptyDescription="No invoices to display.">

  <ng-template #dateColumn let-appointment="row">
    <div class="d-flex flex-column">
      <span class="font-14 color-charade text-overflow font-weight-bold">{{ appointment.date }}</span>
    </div>
  </ng-template>

  <ng-template #titleColumn let-appointment="row">
    <div class="d-flex flex-column">
      <span class="font-14 color-charade text-overflow font-weight-bold mb-1">{{ appointment.title }}</span>
      <p class="font-14 color-dusty-gray text-overflow m-0">{{ appointment.detail }}</p>
    </div>
  </ng-template>

  <ng-template #timeColumn let-appointment="row">
    <div class="d-flex flex-column">
      <span class="font-14 color-charade text-overflow text-success">{{ appointment.time }}</span>
    </div>
  </ng-template>

  <ng-template #detailColumn let-appointment="row">
    <div class="d-flex flex-column">
      <a class="color-dusty-gray underline">View Details</a>
    </div>
  </ng-template>

</app-heading-table>
