<section class="p-15 p-md-30">
  <div class="row mb-10">
    <div class="col-12">
      <h3 class="text-primary font-30 font-weight-bold">Billing</h3>
    </div>
  </div>
  <div class="row mb-50">
    <div class="col-12 col-lg-3">
      <app-next-billing-card price="500" text="Automatic Renewal"></app-next-billing-card>
    </div>
    <div class="col-12 col-lg-4">
      <app-plan-detail-card billingCycle="Weekly" startDate="March 21, 2020" status="Active"></app-plan-detail-card>
    </div>
    <div class="col-12 col-lg-5">
      <app-billing-detail-card [card]="card" [user]="normalUser"></app-billing-detail-card>
    </div>
  </div>
  <div class="row mb-20">
    <div class="col-12">
      <div class="d-md-flex d-none justify-content-between align-items-center border-color-silver border-bottom-1">
        <h3 class="text-primary font-20 font-weight-bold m-0">Payment History</h3>
        <div class="balance px-30 py-10">Balance: -$721.00</div>
      </div>
      <div class="row d-block d-md-none">
        <div class="col-12">
          <h3 class="text-primary font-20 font-weight-bold mb-10">Payment History</h3>
        </div>
        <div class="col-12">
          <div class="balance px-30 py-10 border-radius-5">Balance: -$721.00</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <form class="col-12 col-md-9 mb-10 mb-md-0" [formGroup]="paymentForm">
      <div class="d-flex align-items-center">
        <app-select class="mr-10" label="Sort By:" [options]="options" formControlName="sortByDate"></app-select>
        <app-search-input placeholder="Search Transaction"></app-search-input>
      </div>
    </form>
    <div class="col-12 col-md-3 d-flex align-items-center justify-content-end">
      <app-icon-button color="primary" icon="filter" buttonClass="btn-filter" (handleClick)="filter($event)" label="Filter List"></app-icon-button>
    </div>
  </div>
</section>