<button (click)="handleClick.emit()" (mouseover)="isHover = true" (mouseout)="isHover = false" class="btn btn-large py-0 {{ isHover === true ? ('btn-' + color + '-active') : ('btn-' + color) }} " [ngClass]="buttonClass">
  <div class="d-flex align-items-center">
    <app-icon class="mr-5 width-20" [icon]="icon" color="{{ isHover ? 'white' : color }}"></app-icon>
    <h6 class="font-14 text-overflow text-white m-0 text-{{color}}" *ngIf="isHover === false; else noHover;">{{ label }}</h6>
    <ng-template #noHover>
      <h6 class="font-14 text-overflow text-white m-0 text-white">{{ label }}</h6>
    </ng-template>
  </div>
</button>


