<app-heading-table [title]="title"
           [canAdd]="canAdd"
           [sections]="appointments"
           [columns]="columns"
           [loading]="isLoading"
           isHeaderColumn="true"
           emptyDescription="No invoices to display.">

  <ng-template #titleColumn let-appointment="row">
    <div class="d-flex flex-column">
      <span class="font-14 color-mine-shaft text-overflow font-weight-bold">{{ appointment.title }}</span>
    </div>
  </ng-template>

  <ng-template #dateColumn let-appointment="row">
    <div class="d-flex flex-column">
      <p class="font-14 color-dusty-gray text-overflow font-weight-bold m-0">{{ appointment.date }}</p>
    </div>
  </ng-template>

  <ng-template #timeColumn let-appointment="row">
    <div class="d-flex flex-column">
      <p class="font-14 color-dusty-gray text-overflow font-weight-bold m-0">{{ appointment.time }}</p>
    </div>
  </ng-template>

  <ng-template #memberColumn let-appointment="row">
    <div class="d-flex flex-column">
      <p class="font-14 color-dusty-gray text-overflow font-weight-bold m-0">{{ appointment.contractor.businessName }}</p>
    </div>
  </ng-template>

  <ng-template #detailColumn let-appointment="row">
    <div class="d-flex justify-content-center">
      <ng-container *ngIf="appointment.hover === true; else noHover;">
        <button class="btn btn-medium btn-thin btn-success">View More</button>
      </ng-container>
      <ng-template #noHover>
        <button class="btn btn-medium btn-thin btn-primary">View More</button>
      </ng-template>
    </div>
  </ng-template>

</app-heading-table>
