<app-table [rows]="leads"
           [columns]="columns"
           [pageSize]="take"
           [length]="total"
           [loading]="isLoading"
           (page)="onPage($event)"
           emptyDescription="No invoices to display.">

  <ng-template #nameColumn let-lead="row">
    <div class="d-flex flex-column">
      <span class="font-14 text-overflow font-weight-medium">{{ lead.user.name }}</span>
    </div>
  </ng-template>

  <ng-template #contactColumn let-lead="row">
    <div class="d-flex flex-column">
      <span class="font-14 text-overflow font-weight-medium">{{ lead.user.phone }}</span>
    </div>
  </ng-template>


  <ng-template #emailColumn let-lead="row">
    <div class="d-flex flex-column">
      <span class="font-14 text-overflow font-weight-medium">{{ lead.user.email }}</span>
    </div>
  </ng-template>

  <ng-template #codeColumn let-lead="row">
    <div class="d-flex flex-column">
      <span class="font-14 text-overflow font-weight-medium">{{ lead.code }}</span>
    </div>
  </ng-template>

  <ng-template #statusColumn let-lead="row">
    <div class="d-flex flex-column">
      <ng-container [ngSwitch]="lead.status">
        <ng-container *ngSwitchCase="LeadStatus.Sold">
          <button class="btn btn-medium btn-thin btn-success-active">{{ lead.status | optionLabel }}</button>
        </ng-container>
        <ng-container *ngSwitchCase="LeadStatus.DidNotBuy">
          <button class="btn btn-medium btn-thin btn-danger-active">{{ lead.status | optionLabel }}</button>
        </ng-container>
        <ng-container *ngSwitchCase="LeadStatus.Spam">
          <button class="btn btn-medium btn-thin btn-warning-active">{{ lead.status | optionLabel }}</button>
        </ng-container>
        <ng-container *ngSwitchCase="LeadStatus.Pending">
          <button class="btn btn-medium btn-thin btn-info-active">{{ lead.status | optionLabel }}</button>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>

  <ng-template #viewColumn let-lead="row">
    <div class="d-flex justify-content-center">
      <ng-container [ngSwitch]="lead.status">
        <ng-container *ngSwitchCase="LeadStatus.Sold">
          <button class="btn btn-medium btn-thin btn-success">View Lead</button>
        </ng-container>
        <ng-container *ngSwitchCase="LeadStatus.DidNotBuy">
          <button class="btn btn-medium btn-thin btn-danger">View Lead</button>
        </ng-container>
        <ng-container *ngSwitchCase="LeadStatus.Spam">
          <button class="btn btn-medium btn-thin btn-warning">View Lead</button>
        </ng-container>
        <ng-container *ngSwitchCase="LeadStatus.Pending">
          <button class="btn btn-medium btn-thin btn-info">View Lead</button>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>
</app-table>
