@import "../../../../assets/theme";

.notification-box {
  width: 270px;
}

.box-frame {
  height: 50px;
}

.circle {
  @include circle(12px);
}

.action-wrapper {
  width: 50px;
}

.notification-item {
  @include hover_effect($black-squeeze);
}
