<section class="p-15 p-md-30">
  <div class="row align-items-center mb-30">
    <div class="col-12 col-lg-5">
      <h3 class="text-primary font-30 font-weight-bold">Tasks</h3>
    </div>
    <form class="col-12 col-lg-7" [formGroup]="taskForm">
      <div class="d-flex align-items-center justify-content-end">
        <app-search-input placeholder="Search Task" class="mr-10"></app-search-input>
        <app-select class="mr-10" [options]="options" formControlName="invoiceType"></app-select>
        <app-icon-button color="white" icon="plus" buttonClass="btn-plus" (handleClick)="newTask($event)" label="New Task"></app-icon-button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="d-flex flex-column">
        <div class="bg-primary font-17 text-white font-weight-medium py-8 px-20 mb-10 border-radius-5">{{ TaskStep.Open | optionLabel }}</div>
        <div *ngFor="let item of taskCardData[TaskStep.Open]">
          <app-task-card [info]="item"></app-task-card>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="d-flex flex-column">
        <div class="bg-primary font-17 text-white font-weight-medium py-8 px-20 mb-10 border-radius-5">{{ TaskStep.In_Progress | optionLabel }}</div>
        <div *ngFor="let item of taskCardData[TaskStep.In_Progress]">
          <app-task-card [info]="item"></app-task-card>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="d-flex flex-column">
        <div class="bg-primary font-17 text-white font-weight-medium py-8 px-20 mb-10 border-radius-5">{{ TaskStep.Completed | optionLabel }}</div>
        <div *ngFor="let item of taskCardData[TaskStep.Completed]">
          <app-task-card [info]="item"></app-task-card>
        </div>
      </div>
    </div>
  </div>
</section>