<div class="bg-white rounded shadow px-20 py-10 mb-10">
  <div class="row mb-10">
    <div class="col-12">
      <span class="font-weight-bold text-primary text-overflow">Plan Details</span>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-5">
      <span class="font-weight-medium color-dusty-gray text-overflow mb-10">Billing Cycle</span>
    </div>
    <div class="col-7">
      <span class="font-weight-bold text-primary text-overflow mb-10">{{ billingCycle }}</span>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-5">
      <span class="font-weight-medium color-dusty-gray text-overflow mb-10">Start Date</span>
    </div>
    <div class="col-7">
      <span class="font-weight-bold text-primary text-overflow mb-10">{{ startDate }}</span>
    </div>
  </div>
  <div class="row mb-10">
    <div class="col-5">
      <span class="font-weight-medium color-dusty-gray text-overflow mb-10">Status</span>
    </div>
    <div class="col-7">
      <span class="font-weight-bold text-primary text-overflow mb-10">{{ status }}</span>
    </div>
  </div>
</div>
